version: '3'
# Settings and configurations that are common for all containers
services:
  mysql:
    image: 'mysql:8.0'
    container_name: "orm-feature-tests-mysql"
    command: mysqld --default-authentication-plugin=mysql_native_password --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    environment:
      MYSQL_ROOT_PASSWORD: '3AQqZTfmww=Ftj'
      MYSQL_DATABASE: 'feature_tests'
    restart: 'always'
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-p3AQqZTfmww=Ftj"]
      interval: 5s
      timeout: 3s
      retries: 10

  postgres:
    image: 'postgres:16'
    container_name: "orm-feature-tests-postgres"
    environment:
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: '3AQqZTfmww=Ftj'
      POSTGRES_DB: 'feature_tests'
    restart: 'always'
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 3s
      retries: 10
